{% extends 'base.html' %}

{% block main %}

<form action="/profiles/<userid>" method="POST" enctype="multipart/form-data">

{{ form.csrf_token }}

    {{ form.firstname.label }}
    {{ form.firstname(class="fm-control", placeholder="John") }}
    
    </br>
    
    {{ form.lastname.label }}
    {{ form.lastname(class="form-control", placeholder="Brown") }}
    
    </br>
    
    {{ form.email.label }}
    {{ form.email(class="form-control", placeholder="e.g. myemail@example.com") }}
    
    </br>
    
    {{ form.gender.label }}
    {{ form.gender(class="form-control", placeholder="None") }}
    
    </br>
    
    {{ form.location.label }}
    {{ form.location(class="form-control", placeholder="e.g. Kingston, Jamaica") }}
    
    </br>
    
    {{ form.photo.label }}
    {{ form.photo(class="form-control", placeholder="Choose File") }}
    
    </br>
    
    {{ form.bio.label }}
    {{ form.bio(class="form-control", placeholder="Say Something about yourself.") }}

    </br>
    
    <button class="button"> Add Profile </button>
</form>

{% endblock %}